/* didact-gothic-regular - latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic */
@font-face {
    font-family: 'Didact Gothic';
    font-style: normal;
    font-weight: 400;
    font-display:swap;
    src: url('/assets/phoenix/css/font-styles/didact-gothic/didact-gothic-v18-latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('/assets/phoenix/css/font-styles/didact-gothic/didact-gothic-v18-latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/assets/phoenix/css/font-styles/didact-gothic/didact-gothic-v18-latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('/assets/phoenix/css/font-styles/didact-gothic/didact-gothic-v18-latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-regular.woff') format('woff'), /* Modern Browsers */
    url('/assets/phoenix/css/font-styles/didact-gothic/didact-gothic-v18-latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('/assets/phoenix/css/font-styles/didact-gothic/didact-gothic-v18-latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-regular.svg') format('svg'); /* Legacy iOS */
}